body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, sans-serif;
}

.main-container {
  width: 80%;
  padding: 0 10px;
  margin: 0 20px;
}
.navigation-container {
  width: 20%;
}

.section-container {
  padding: 20px 0;
}

.section-title {
  font-size: 36px;
  color: cadetblue;
  border-bottom: 2px solid;
  border-color: bisque;
}

.navigation-section {
  position: fixed;
  margin-right: 20px;
  padding: 20px;
}

table,
tr > * {
  border: 1px solid;
}
.example-section-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-notes-container {
  background-color: aquamarine;
  padding: 10px 20px;
  margin: 10px 0;
}
.example-container {
  padding: 10px 30px;
  background-color: rgb(42, 227, 227);
}

.example-container > h3 {
  font-size: 20px;
}

.highlight-word-class {
  color: blue;
  font-weight: bold;
}
