a {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-form-container {
  display: flex;
}

.general-input:required {
  border: 3px solid gray;
}

.general-input:invalid {
  border: 3px solid red;
}

.general-form-container {
  padding: 20px 10px;
  border: 2px dashed black;
}

.form-container-parent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.validation-message {
  display: block;
  padding-top: 0.4em;
  color: red;
}

/* pointer device, for example, a mouse */
@media (pointer: fine) {
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}

/* pointer device of limited accuracy, for example, a touch-based device */
@media (pointer: coarse) {
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
}

.form-button {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: aliceblue;
}

#testing-form-example-4-id div input:focus {
  outline: 4px solid #222;
}

input[name="destination-example-1"] {
  font-size: 20px;
}

.form-field-display-inline {
  display: flex;
  justify-content: space-between;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

#preference-example-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.inline-boxes-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:20px;
}
.form-container{
  justify-content: center;
  padding: 0 20px;
}

input{
  font: 1em sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Remove margin for consistency */
}