a {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-form-container {
  display: flex;
}

.general-input:required {
  border: 3px solid gray;
}

.general-input:invalid {
  border: 3px solid red;
}

.general-form-container {
  padding: 20px 10px;
  border: 2px dashed black;
}

.form-container-parent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.validation-message {
  display: block;
  padding-top: 0.4em;
  color: red;
}

/* pointer device, for example, a mouse */
@media (pointer: fine) {
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}

/* pointer device of limited accuracy, for example, a touch-based device */
@media (pointer: coarse) {
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }
}

.form-button {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: aliceblue;
}

#testing-form-example-4-id div input:focus {
  outline: 4px solid #222;
}
