body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.box-model-example {
  width: 80px;
  border: 2px solid blue;
  margin: 20px 0;
}
.box-model-example p {
  font-size: 20px;
  text-transform: uppercase;
}

#box-model-example1[data-sizing='intrinsic'] {
  width: min-content;
}

#box-model-example2[data-sizing='intrinsic'] {
  width: max-content;
}

.intrinsic-class[data-display='checked'] {
  border: 2px solid green;
  padding: 10px 20px;
  border-radius: 50%;
  color: #232323;
}

.extrinsic-class[data-display='checked'] {
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 50%;
  color: #232323;
}

.accordion-button {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  text-transform: uppercase;
  word-spacing: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.accordion-body-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-button {
  border-radius: 20px;
}

.special_span_class {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}

notes-template div {
  padding: 0 20px;
}
